*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Gabarito", sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
     align-items: center;
     position: sticky;
     top: 0;
     background-color: white; 
     z-index: 1;
   

}
.navbar__s1__title{
    color: #A435F0;
}
.navbar__s2
{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s2 input
{
  border: none;
  width:100%;
  font-size: 16px;
}
.navbar__s2 input:focus
{
    outline: none;
}
.navbar__s3
{
    display: flex;
    gap: 10px;
     align-items: center;
}
.navbar__s3__dropdown
{
    position: relative;
    cursor: pointer;
}
.navbar__s3__dropdown__content

{
   top: 150%;
   border: solid black 1px;
width: 100px;
    position: absolute;
    background-color: white;
    padding: 20px;
    right: 0;
    display: none;
    
}
.navbar__s3__dropdown:hover .navbar__s3__dropdown__content
{
    display: block;
}
.navbar__s4
{
    display: none;
   
}
.categories
{
    display: flex;padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}
.categories p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
}
.sale__img img
{
    width:100%;
  
}
.sale__img
{
    position: relative;
    
}
.sale__img__content
{
    background-color: white;
    position: absolute;
    border:solid black 2px;
    width: 35%;
    padding: 10px;
    top: 10%;
    left: 5%;
}
.sale__img__btn
{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.recommended
{
    padding: 10px;
}
.recommended__container
{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 10px;
}
.course-card
{
     flex-basis: 20%;
     flex-grow: 1;
     margin: 5px;
}


.course-card img
{
   width: 100%;
   height: 50%;
}
.topics
{
    padding: 10px;
    
}
.topics_container
{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics_container p{
    border: solid black 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular
{
    padding: 10px;
}
.popular__container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer_one
{
padding: 30px;
background-color: black;
color: white;
}
.footer_one
{
    display: flex;
    gap: 10px;
    
}
.footer_one p
{
 margin: 20px;
}
.footer_two
{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}
.footer_two p
{
    color: #A435F0;
}
@media  screen and (max-width: 800px)
 {
 body{
    font-size: 14px;
}
}
@media screen and (max-width: 600px)
 {
    .course-card
    {
        flex-basis: 40%;
       
    }
    .categories
    {
        display: none;
    }
    .navbar__s2,.navbar__s3
    {
       display: none;
    }
    .navbar__s4
     {
    display: block;
   
     }
  
    
}